<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" *ngFor="let orderProducts of orderProducts">

    <div class="date">
      {{orderProducts.createdAt | date}}
    </div>

    <div class="product" *ngFor="let product of orderProducts.products">

      <div class="image">
        <ion-img src="{{product.productImage}}"></ion-img>
      </div>

      <div class="name">
        <p>Name: {{product.productName}}</p>
      </div>

      <div class="quantity">
        <p>Qty: {{product.quantity}}</p>
      </div>

      <div class="price">
        <p>Price: ${{product.price}}</p>
      </div>

      <div class="total">
        <p>Total: ${{product.quantity * product.price }}</p>
      </div>

    </div>

    <div class="amount">
      <div class="left">
        <p>Total Amount:</p>
      </div>

      <div class="right">
        <p> $ {{orderProducts.amount}}</p>
      </div>
    </div>

  </div>

  <div *ngIf="empty" class="empty">
    <h1>You ordered nothing.</h1>
    <p><a routerLink="/home">CONTINUE SHOPPING</a></p>
  </div>

</ion-content>