<ion-header>
  <ion-toolbar>
    <ion-title> Your Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product" *ngFor="let productInfo of cartProducts">
    <div class="image">
      <ion-img src="{{productInfo.url[0]['url']}}"></ion-img>
    </div>
    <div class="total">
      Total
      <div class="count">${{ productInfo.quantity * productInfo.price }}</div>
    </div>
    <div class="name">Name: {{ productInfo.name }}</div>
    <div class="price">Price: ${{ productInfo.price }}</div>
    <div class="quantity">
      <ion-item>
        <ion-label>Qty:</ion-label>
        <ion-select (ionChange)="updateCart(productInfo.product_id, $event)">
          <ion-select-option *ngFor="let i of quantity" [selected]="productInfo.quantity === i" >
            {{i}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

</ion-content>

<ion-footer>

  <ion-button expand="block" fill="outline" (click)="checkout()">Checkout</ion-button>

</ion-footer>