<ion-header>
  <ion-toolbar>
    <ion-title> Your Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product">
    <div class="image">
        <ion-img [src]="pink"></ion-img>
    </div>
    <div class="total">
      Total
      <div class="count"> 23$</div>
    </div>
    <div class="name">Red Rose</div>
    <div class="price">1.2$</div>
    <div class="quantity">
    </div>
  </div>

  <div class="product">
      <div class="image">
          <ion-img [src]="pink"></ion-img>
      </div>
      <div class="total">
        Total
        <div class="count"> 23$</div>
      </div>
      <div class="name">Red Rose</div>
      <div class="price">1.2$</div>
      <div class="quantity">
      </div>
    </div>

</ion-content>

<ion-footer>

  <ion-button expand="block" fill="outline" >Checkout</ion-button>

</ion-footer>