<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu(1)" color="dark" class="menu">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top"></div>
  <div class="bottom">
    <p>Your order has been placed succesfully</p>
    <p>thankyou for shopping.</p>
    <div class="back"><a routerLink="/home">CONTINUE SHOPPING</a></div>
  </div>

</ion-content>