<ion-header>
  <ion-toolbar>
    <ion-title>Product Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="slider">
      <ion-img [src]="pink"></ion-img>
    </div>
  </div>
  <div class="detail">
    <p>
      ieuhfywiusdoianjcvdsnksm
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" fill="outline">Add to Cart</ion-button>
</ion-footer>