<ion-header>
  <ion-toolbar>
    <ion-title>Product Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      <div class="slider">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let image of productInfo.images">
            <ion-img src="{{image.url}}"></ion-img>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="detail">
      <ion-item>
        <ion-label position="stacked">Product Name:</ion-label>
        {{ productInfo.name }}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price:</ion-label>
        {{ productInfo.price }}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Detail:</ion-label>
        {{ productInfo.description }}
      </ion-item>
      <div class="select">
        <ion-item>
          <ion-label>
            <ion-text>Quantity:</ion-text>
          </ion-label>
          <ion-select>
            <ion-select-option *ngFor="let i of quantity">{{i}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" fill="outline" >Add to Cart</ion-button>
</ion-footer>