<ion-header>
  <ion-toolbar>
    <ion-title>Product Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      <div class="slider">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let image of productInfo.images">
            <ion-img src="{{image.url}}"></ion-img>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="detail">
      <ion-item>
        <ion-label>Product Name:</ion-label>
        <ion-text>{{ productInfo.name }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Price:</ion-label>
        <ion-text>${{ productInfo.price }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Detail:</ion-label>
        <ion-text>{{ productInfo.description }}</ion-text>
      </ion-item>
      <div class="select">
        <ion-item>
          <ion-label>
            <ion-text>Quantity:</ion-text>
          </ion-label>
            <ion-select [(ngModel)]="total" placeholder="Select Quantity">
              <ion-select-option *ngFor="let i of quantity" [selected]="productInfo.quantity === i">{{i}}
              </ion-select-option>
            </ion-select>
        </ion-item>

      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" fill="outline" (click)="addToCart(productId)">Add to Cart</ion-button>
</ion-footer>