<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="image">
      
    </div>
    <form>
      <ion-item>
        <ion-input placeholder="Full Name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Phone no." type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Email Address" type="email"></ion-input>
      </ion-item>
    </form>
    <ion-button fill="outline" color="danger">Edit</ion-button>
    <ion-button fill="outline" color="success">Save</ion-button>
  </div>

</ion-content>