
ion-content{
    .image{
        text-align: center;
        background-color: rgb(243, 241, 241);
        width: 68%;
        height: 30%;
        padding-bottom: 25px;
        padding-top: 25px; 
        float: left;
       
        ion-avatar{
            height: 150px;
            width: 150px; 
            float: right;
            margin-bottom: 2px;
        }  
        ion-button{
            font-size: 15px;
            --background:transparent;
            --background-activated:transparent;
            --background-focused:transparent;
            --box-shadow:none;
            margin: 0;
            --color:black;
            --color-activated:black;
        }
        ion-icon{
            float:right;
        }
        }
        .edit{
            float: left;
            width: 32%;
            background-color: rgb(243, 241, 241);
            height: 30%;
            padding-top: 18%; 
        }
    .container{
        text-align: center;
        ion-button{
            --color-activated:rgb(0, 0, 0);
            --background-activated:orange;
            --color:rgb(54, 53, 53);
            --border-color:orange;
            --border-width:2px;
            font-size: 16px;
            width: 100px;
            margin-top: 20px;
        }
        form{
            text-align: center;
           width: 80%;
           margin-left: 10%;
           .error{
            text-align: left;
            color: red;
            font-size: 15px;
           
        }
            ion-item{
                --background: transparent;
                margin-bottom: 15px;
            }
        }
        width: 100%;
        height: 70%;
        background-color: rgb(243, 241, 241);
        border-radius: 4px;
        text-align: center;
        float: left;
       
    }
}
.header-md:after {
    display: none;
}