<ion-header>

</ion-header>

<ion-content class="background">
  <ion-buttons>
    <ion-button (click)="dismiss()" slot="end">
      <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
    </ion-button>
  </ion-buttons>

    <div class="filter">
      <ion-item>
        <ion-label>Colour Type</ion-label>
        <ion-select class="color" class="color" (ionChange)="filterData(1, $event)">
          <ion-select-option>All</ion-select-option>
          <ion-select-option>red</ion-select-option>
          <ion-select-option>pink</ion-select-option>
          <ion-select-option>orange</ion-select-option>
          <ion-select-option>white</ion-select-option>
          <ion-select-option>yellow</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-range min=" 1" max="5" pin color="dark" class="range" (ionChange)="filterData(3, $event)">
          <ion-icon slot="start" size="small" name="arrow-round-down"></ion-icon>
          <ion-icon slot="end" size="small" name="arrow-round-up"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-radio-group   class="category" (ionChange)="filterData(2, $event)">
        <ion-list-header>
          <ion-label>Catogary</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Flowers</ion-label>
          <ion-radio slot="start" value="flower" color="dark"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Buke</ion-label>
          <ion-radio slot="start" value="buke" color="dark"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Both</ion-label>
          <ion-radio slot="start" value="both" color="dark"></ion-radio>
        </ion-item>

      </ion-radio-group>
      <ion-button color="dark" slot="end" fill="outline" (click)="dismiss()">CONTINUE</ion-button>

    </div>
</ion-content>